.page__elements {
    margin: 0 19px 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 800px){
    .page__elements{
        margin: 0 10% 0;
    }
}

@media screen and (min-width: 1024px){
    .page__elements{
        margin: 0 15.625% 0;
    }
}